<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location Tracker needs access to your location to record your position and send it to the server, even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location Tracker needs access to your location to record your position and send it to the server.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location Tracker needs always-on location access to track your position in the background.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>LocationTracker uses Bluetooth to share position with nearby devices</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
</dict>
</plist>
